body {
    color: #4e00ff;
    font-family: 'Roboto', 'FontAwesome';
    padding-top: 100px;
}

input {
    border-radius: 7px;
}

.content {
    width: 800px;
    margin: 0 auto;
}

.left {
    float: left;
}

.right {
    float: right;
}

header {
    position: fixed;
    width: 100%;
    height: 100px;
    background: #4e00ff;
    left: 0;
    top: 0;
    color: #ffffff;
    display: flex;
    z-index: 10000;
}

header .content {
    height: 100%;
}

header .logo {
    float: left;
    height: 100%;
    width: 210px;
}

header .logo h1 {
    margin: 3px 0 0 0;
    text-shadow: 3px 4px black;
}

header h3 {
    margin: -5px 0 0 0;
    font-size: 16px;
}

header .info {
    width: 590px;
    float: right;
}

header .row {
    height: 50px;
    position: relative;
}

header .row:first-child > * {
    top: 45%;
    position: absolute;
}

header .row .search {
    right: 0;
}

header .row .search #inputSearch {
    padding-left: 25px;
}

header .row .search .fa-search {
    position: absolute;
    top: 5px;
    left: 7px;
    font-size: 15px;
    color: #a5afb5;
}

header nav {
    display: block;
    height: 100%;
    margin-left: -10px;
}

header nav a {
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    font-weight: 800;
    padding-right:10px;
    padding-left:10px;
    height: 100%;
}

header nav a:hover {
    background: #1b018b;
}

article section {
    position: relative;
}

article .about > * {
    display: inline-block;
    vertical-align: top;
}

article .about .photo {
    margin-right: 5px;
}

article .about .photo img {
    width: 300px;
}

article .about table {
    font-size: 24px;
}

article .about table tr td:first-child {
    font-weight: 800;
}

article .about p {
    margin: 0;
    width: 490px;
    text-align: justify;
    text-indent: 25px;
}

article .about iframe {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
}